In [1]:
from tqdm import tqdm
import pandas as pd
import json
import plotly.express as px

In [40]:
df = pd.read_csv("data\mock3kRows.csv", index_col=0)

In [ ]:
l = len(df)
map = {'Very Low': (l-200252)/l,
'Low': (l-12560)/l,
'Medium': (l-775)/l,
'High': (l-44)/l,
'Very High': (l-1)/l}
map['Very High']

0.9999953190533254

In [7]:
df[df['type'] == "{ความสะอาด,ป้าย,กีดขวาง,ร้องเรียน,ทางเท้า,ถนน}"]
df["processed"] = [i[1:-1].split(',') if type(i) == str else [] for i in tqdm(df['type'])]
df2 = df.explode("processed")

100%|██████████| 213632/213632 [00:00<00:00, 262668.40it/s]

In [4]:
df.columns

Index(['type', 'organization', 'comment', 'photo', 'photo_after', 'coords',
       'subdistrict', 'district', 'timestamp', 'state', 'star',
       'last_activity', 'severity', 'time_to_solve'],
      dtype='object')

In [6]:
df.columns

Index(['type', 'organization', 'comment', 'photo', 'photo_after', 'coords',
       'subdistrict', 'district', 'timestamp', 'state', 'star',
       'last_activity', 'severity', 'time_to_solve'],
      dtype='object')

In [11]:
ttl = df.groupby('severity').mean("time_to_solve")
ttl

               star  time_to_solve
severity
High       3.727273       5.772727
Low        3.921815       6.628344
Medium     3.966452       6.930323
Very High  5.000000       2.000000
Very Low   3.916136       6.684722

In [17]:
ttl = ttl.reset_index()

In [ ]:
sev = ['Very Low', 'Low', 'Medium', 'High', 'Very High']
ttl_list = []
for i in sev:
  if len(ttl[ttl['severity'] == i]) > 0:
    ttl_list.append(ttl[ttl['severity'] == i]['time_to_solve'].iloc[0])
  else:
    sev.remove(i)
    
mean_ttl = pd.DataFrame({'Severity':sev, 'Mean time to solve (days)': ttl_list})

In [27]:
mean_ttl

    Severity  Mean time to solve (days)
0   Very Low                   6.684722
1        Low                   6.628344
2     Medium                   6.930323
3       High                   5.772727
4  Very High                   2.000000

In [13]:
df.subdistrict.value_counts()

subdistrict
ดินแดง        4793
สวนหลวง       4433
อนุสาวรีย์    4008
สามเสนใน      3850
ลาดพร้าว      3502
              ...
พระโขนงใต้      72
จักรวรรดิ์       4
บางนา            1
รัชดาภิเษก       1
อ่อนนุช          1
Name: count, Length: 179, dtype: int64

In [ ]:
with open("BangkokSubdistricts.geojson", encoding="utf-8") as f:
    geojson_data = json.load(f)

In [9]:
problem_types = df2['processed'].unique()

In [15]:
len(problem_types)

24

In [13]:
problem_types_map = {}
for i in problem_types:
    problem_types_map[i] = False